# /.gitignore

### Python ###
__pycache__/
*.py[cod]
*$py.class
venv/
**/venv/
.venv/
**/.venv/
build/
**/build/
dist/
**/dist/
*.egg-info/
**/*.egg-info/
**/pytest_cache/
.coverage
**/coverage

### Node / Next.js ###
node_modules/
**/node_modules/
.next/
npm-debug.log*
yarn-error.log*
.pnp.*

### Secrets ###
# .env 파일을 포함한 모든 환경변수 설정 파일을 무시합니다.
# 단, .env.example 파일은 예외로 하여 버전 관리에 포함시킵니다.
*.env
**/.env
!.env.example

### IDE / Editor ###
.vscode/
.idea/
*.swp

### OS-specific ###
.DS_Store
Thumbs.db

### User Data ###
.data/
**/.data/
.models/
**/.models/
*cookies.json
**/cookies.json
.cookies.json
**/.cookies.json
.sqlite3
**/.sqlite3
*.db
**/*.db