QUTAT_AUTH_HOST=https://qws.qutat.net:8000/
QUTAT_AUTH_AUTO_LOGIN=True
QUTAT_username=
QUTAT_password=

#QUTAT_CLOUD_DRF_HOST=http://localhost:8000/
#QUTAT_CLOUD_DRF_DB_NAME=a34g34g4f
#QUTAT_CLOUD_DRF_DB_USER=dbmasteruser
#QUTAT_CLOUD_DRF_DB_PASSWORD=f4i30fj0934j0fipresdg
#QUTAT_CLOUD_DRF_DB_HOST=8043uf8h4u8w3hfuoher.40ogkaioejfidgf.ap-northeast-2.rds.amazonaws.com
#QUTAT_CLOUD_DRF_DB_PORT=3306
#QUTAT_CLOUD_DRF_SECRET_KEY=92juf8ij43ifjorjdfsjerk
#QUTAT_CLOUD_DRF_AWS_STORAGE_BUCKET_NAME=bucket_name
#QUTAT_CLOUD_DRF_AWS_S3_ACCESS_KEY_ID=access-key-id
#QUTAT_CLOUD_DRF_AWS_S3_SECRET_ACCESS_KEY=secret-access-key