// Import variables
@import './variables.less';

// Layout Styles
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
  padding: @spacing-xl;
} 